@import url('config.css');
@import url('menu.css');
@import url('mobile.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

body {
  font-family: 'Nunito';
}

a {
  text-decoration: none;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 30vh;
}

@media screen and (min-width: 500px) {
  .menu-nav {
    display: block;
  }

  .menu-btn {
    display: none;
  }
}

.menu {
  background: transparent;
  display: flex;
  padding: 2.1rem 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.branding-item {
  color: #fff;
  text-decoration: none;
  font: 600 2.2rem/32px 'Nunito';
}

.nav-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menu-nav {
  display: flex;
  list-style-type: none;
}

.nav-item {
  color: #fff;
  font: 600 1.2rem/32px 'Nunito';
  text-decoration: none;
  margin: 0 2rem 0 0;
  transition: .5s;
}

/* Border bottom nav-item */
.nav-item:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #444;
  content: "";
  display: block;
  height: 2px;
  width: 0;
}

.nav-item:hover:after {
  width: 100%;
}

main {
  position: relative;
  overflow: hidden;
  padding: 10rem 4rem 1rem 4rem;
  height: 100%;
}

#home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.lg-heading {
  display: table;
}

.sm-heading {
  display: table;
  margin-bottom: 2rem;
}

.download {
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  display: inline;
  outline: none;
  overflow: hidden;
  border-radius: 2rem;
  padding: .8rem;
  cursor: pointer;
  transition: background .4s ease-out;
  text-transform: uppercase;
  -webkit-box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, 0.59);
  box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, 0.59);
}

.download>a {
  color: #fff;
}

.download:hover {
  transition: background 2s ease-out;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.left-banner {
  width: 100%;
  height: 80%;
}

.right-banner {
  width: 100%;
  height: 80%;
}

.right-banner>img {
  width: 100%;
  height: 80%;
  float: right;
}

.background {
  z-index: -1;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.scroll-down {
  position: absolute;
  width: 150px;
  height: 50px;
  top: 90%;
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: center;
}

.scroll-down>button>img {
  margin-right: 1rem; 
  width: 20px;
  animation: arrowMove 2s infinite;
}

.scroll-down>button {
  color: #fff;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4rem 1rem;
  border-radius: 2rem;
  border: none;
}

.clear {
  clear: both;
}

@keyframes arrowMove {
  0% {
   transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}