@import url('config.css');
@import url('menu.css');
@import url('mobile.css');
@import url('tabs.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

body {
  font-family: 'Nunito';
}

a {
  text-decoration: none;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 10vh;
}

.h1-heading {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}

.navbar_black {
  background-color: #000 !important;
  transition: all .4s ease-in-out;
}

@media screen and (min-width: 500px) {
  .menu-nav {
    display: block;
  }

  .menu-btn {
    display: none;
  }
}

.menu {
  background: transparent;
  display: flex;
  padding: 2.1rem 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.branding-item {
  color: #fff;
  text-decoration: none;
  font: 600 2.2rem/32px 'Nunito';
}

.nav-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menu-nav {
  display: flex;
  list-style-type: none;
}

.nav-item {
  color: #fff;
  font: 600 1.2rem/32px 'Nunito';
  text-decoration: none;
  margin: 0 2rem 0 0;
  transition: .5s;
}

.nav-item.active {
  border-bottom: 2px solid #ecf0f1;
}

/* Border bottom nav-item */

.nav-item:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #fff;
  content: "";
  display: block;
  height: 2px;
  width: 0;
}

.nav-item:hover:after {
  width: 100%;
}

.anchor {
  display: block;
  height: 101.19px;
  /*same height as header*/
  margin-top: -101.19px;
  /*same height as header*/
  visibility: hidden;
}

main {
  position: relative;
  overflow: hidden;
  padding: 8rem 4rem 1rem 4rem;
  height: 100%;
}

#home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lg-heading {
  display: table;
}

.sm-heading {
  display: table;
  margin-bottom: 2rem;
}

.download {
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  outline: none;
  width: fit-content;
  overflow: hidden;
  border-radius: 2rem;
  padding: .8rem;
  cursor: pointer;
  transition: all .4s ease-out;
  text-transform: uppercase;
  -webkit-box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, 0.59);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 20px 0px;
}

.download>a {
  color: #fff;
}

.download:hover {
  transition: all .4s ease-in-out;
  box-shadow: rgba(255, 255, 255, 0.3) 2px 2px 20px 0px;
}

.social-badge {
 width: fit-content;
  padding: 1rem; 
}
.social-badge>a {
  color: #fff;
  padding: 1rem; 
  transition: all .4s ease-in-out;
}
.social-badge>a:hover {
  color: #f6cd61;
  transition: all .4s ease-in-out;
}
.social-badge>a>i {
  font-size: 1.4rem;
}

.left-banner {
  color: #fff;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-banner {
  width: 100%;
  height: 80%;
}

.right-banner>img {
  width: 100%;
  height: 80%;
  float: right;
}

.background {
  background-color: rgba(0, 0, 0, .7);
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
}

.background:before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url('../images/1_7cRAqUE493wd988uxuTIUg.png') center center / cover no-repeat;
}

.scroll-down {
  position: absolute;
  width: 150px;
  height: 50px;
  top: 90%;
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: center;
}

.scroll-down>a>img {
  margin-right: 1rem;
  width: 20px;
  animation: arrowMove 2s infinite;
}

.scroll-down>a {
  color: #fff;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4rem 1rem;
  border-radius: 2rem;
  border: none;
}

.clear {
  clear: both;
}

@keyframes arrowMove {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.about-me {
  background-color: #191828;

}

.row-about-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.h1-section {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.info-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  align-items: center;
}

.ab-content {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 3px 7px 17px -7px rgba(77, 76, 77, 1);
  -moz-box-shadow: 3px 7px 17px -7px rgba(77, 76, 77, 1);
  box-shadow: 3px 7px 17px -7px rgba(77, 76, 77, 0.5);
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all .4s ease-out;
}

.ab-content:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

@keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

.portrait {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background: url('../images/avt.jpg') center center/cover no-repeat;
}

.introduce {
  margin: 0 auto;
  max-width: 70%;
  padding: .5rem;
}

/* End About me */

/* Project style */
.wrapper-project {
  background-color: #191828;
  color: #efedef;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

.project-title {
  text-align: center;
}



img.project-img {
  width: 100%;
  max-height: 100%;
  height: 300px;
 
}

.project-right {
  align-items: center;
  text-align: left;
  height: 300px;
}

.project-right ul>li {
  align-items: center;
  list-style: none;
  padding-bottom: .7rem;
  width: 100%;
}

.project-link {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

a.link-text {
  color: #fff;
}

a.link-text:hover {
  color: brown;
}

.container-full {
  background-color: #f6cd61;
}

.section-header {
  text-align: center;
  font-size: 1,1rem;
  font-weight: bold;
}

.section-description {
  color: #6f1c26;
}
.form-input {
  margin: 0 auto;
  text-align: center;
  width: auto;
  overflow: hidden;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
form input[type=text], input[type=email], textarea {
  border: 1px solid #f6f6f7;
  border-radius: 4px;
  background-color: #f6f6f7;
  outline: none;
  transition: all .4s ease-in-out;
}
form input[type=text]:hover, input[type=email]:hover, textarea:hover {
  border: 1px solid #ccc;
  transition: all .4s ease-in-out;
}

form input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}  
form input[type="submit"] {
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #fc5d76;
}
form input[type="submit"]:hover {
  
}

footer {
  padding: 1rem;
  text-align: center;
    font-size: small;
  color: #fff;
  background-color: #3a3e3d;
}